@model WebApplication1.Models.Person

@{
    Layout=null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Success</title>
    </head>
    <body>
        <p>
            <h1>@Model.FirstName @Model.LastName has been successfully submitted!</h1>
        </p>
    </body>
</html>